<div id="contact-background">
    <div class="jumbotron jumbotron-fluid" id="contactBackground">
        <div class="container-fluid text-center" id="contact-nav">
            <div class="row">
                <div class="col-4">
                    <button class="btn btn-light" id="index-button">Home</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-light" id="portfolio-button">Work</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-light" id="contact-button">Contact</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" id="contact">Say Hello</div>
        </div>
    </div>
</div>
<div class="container-fluid" id="indexContact">
    <div class="row">
        <div class="col-12" id="footer">
            <p>Find more of my work</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12" id="footer">
            <button id="link">
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/kathryn-breslin">GitHub</a>
            </button>
            <button id="link">
                <a target="_blank" rel="noopener noreferrer"
                    href="https://www.linkedin.com/in/kathryn-breslin-a2358993/">LinkedIn</a>
            </button>
            <button id="link">
                <a href="mailto:coding.kathrynbreslin@gmail.com">Email</a>
            </button>
            <button id="link">
                <a target="_blank"
                    href="https://drive.google.com/file/d/1xBJR97tOc5Ks9Bbk43_gIGAiAnhLK43w/view?usp=sharing">Resume</a>
            </button>
        </div>
    </div>
    {{!-- <div id="contactForm">
        <div id="contactBottom">
            <div id="contactName">
                <h1>Kathryn Breslin</h1>

            </div>
        </div>
    </div> --}}
</div>