<div class="container-fluid" id="home-nav">
    <div class="row">
        <div class="col-12" id="kathrynNav">
            <p>contact</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12" id="links">
            <button class="btn btn-outline-dark btn-lg" id="index-button">Home</button>
            <button class="btn btn-outline-dark btn-lg" id="portfolio-button">Work</button>
        </div>
    </div>
</div>

<div class="container">
    <div id="top">
        <div class="row">
            <div class="col-12">
                <div id="aboutMe">
                    <h1> Contact Me</h1>
                    <p id="aboutMeLine">Whether you are interested in learning more about my work, my background or have
                        any questions, I encourage you to contact me!</p>
                </div>
            </div>
        </div>
    </div>
    <div id="bottom">
        <div class="col-12" id="indexContactFooter">
            <button id="link">
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/kathryn-breslin">GitHub</a>
            </button>
            <button id="link">
                <a target="_blank" rel="noopener noreferrer"
                    href="https://www.linkedin.com/in/kathryn-breslin-a2358993/">LinkedIn</a>
            </button>
            <button id="link">
                <a href="mailto:coding.kathrynbreslin@gmail.com">Email</a>
            </button>
            <button id="link">
                <a target="_blank" href="assets/images/resume.pdf">Resume</a>
            </button>
        </div>
    </div>
</div>


<div class="container">
    <div id="footerDiv">
        <div class="row">
            <div class="col-8" id="aboutMe">
                <h1> kathryn breslin </h1>
                <p>Philadelphia, PA</p>
            </div>
        </div>
    </div>
</div>
</div>