<div id="contact-background">
    <div class="jumbotron jumbotron-fluid" id="contactBackground">
        <div class="container-fluid text-center" id="contact-nav">
            <div class="row">
                <div class="col-4">
                    <button class="btn btn-light" id="index-button">Home</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-light" id="portfolio-button">Work</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-light" id="contact-button">Contact</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" id="contact">Say Hello</div>
        </div>
    </div>
</div>

<div class="container-fluid" id="contact-jumbo">
    {{!-- <div class="row"> --}}
        <div id="contactForm">
            <div id="contactBottom">
                <div id="contactName">
                    <h1>Kathryn Breslin</h1>
                </div>
                <div id="email">
                    <h2>I would love to hear from you!</h2>
                    <a href="mailto:coding.kathrynbreslin@gmail.com"><button type="button"
                            class="tn btn-primary btn-lg btn-block">Email Me</button></a>
                </div>
                <div id="workContact">
                    <h3>See My Work:</h3>
                    <a target="_blank" rel="noopener noreferrer" href="https://github.com/kathryn-breslin"><button type="button"
                            class="btn btn-primary btn-lg">GitHub</button></a>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/kathryn-breslin-a2358993/"><button
                            type="button" class="btn btn-primary btn-lg">LinkedIn</button></a>
                </div>
            </div>


            {{!-- <form align="center">
                <div class="row">
                    <div class="col">
                        <label for="name">First Name</label>
                        <input type="text" id="firstName" placeholder="First name">
                    </div>
                    <div class="col">
                        <label for="name">Last Name</label>
                        <input type="text" id="lastName" placeholder="Last name">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label for="exampleFormControlInput1">Email address</label>
                        <input type="email" id="email" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="col">
                        <label for="phoneNumber">Phone Number</label>
                        <input type="number" id="phoneNumber" placeholder="(XXX)-XXX-XXXX">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label for="details">Comments</label>
                        <textarea class="form-control" id="details" rows="3"></textarea>
                    </div>
                </div>
                <br>
                <div class="row" id="submit">
                    <div class="col">
                        <button type="button" class="btn btn-primary btn-lg btn-block" id="submitContact">Submit</button>
                    </div>
                </div>
            </form> --}}
        </div>
        {{!-- </div> --}}
</div>