<div id="home-background">
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center" id="home-nav">
            <div class="row">
                <div class="col-4">
                    <button class="btn btn-light" id="index-button">Home</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-light" id="portfolio-button">Work</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-light" id="contact-button">Contact</button>
                </div>
            </div>
        </div>
        <div class="container">
            <h1 id="hello">Hello.</h1>
        </div>
    </div>
</div>

<div id="main-jumbo">
    <div class="row">
        <div class="col">
            <h1 id="name">Kathryn Breslin</h1>
        </div>
    </div>

    <div id="about">
        <div id="paragraph">
            <div id="kathryn">
                <a href="https://github.com/kathryn-breslin"> <img src="assets/images/kathryn breslin.jpeg" alt="Kathryn Breslin"
                        title="Kathryn Breslin"></a>
            </div>
            <div id="quote">
                <p>I am a full-stack web developer interested in creating real-time applications that are both
                    beautiful and pragmatic.</p>
            </div>
            <p>I'm Kathryn.</p>
            <p>I love to code. I developed an interest in this field in college and taught myself a few skills before
                graduation. After graduating from Southern Methodist University's Coding Bootcamp in Novemver 2018, I
                continued my learning while building full-cycle React Native applications.
                Self-education and research has been an incredible suppliment to my time at SMU's Coding Bootcamp. I
                have gained a breadth of technical skills, working with various libraries and modules, including React,
                JQuery, Node.js, Express, MySQL and MongoDB.
            </p>
            <p>I feel passionately about the work I create and I love evolving with changing technologies.
                Communication and collaboration are key components to my work ethic. I look forward to working in a
                team setting to create applications that delight and inspire clients.</p>
        </div>
        <div id="indexContact">
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/kathryn-breslin">GitHub</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/kathryn-breslin-a2358993/">LinkedIn</a>
            <a href="mailto:coding.kathrynbreslin@gmail.com">Email</a>
            <h4>Find more of my work</h4>
        </div>
        {{!-- If you have any questions, please contact me at <a href="mailto:coding.kathrynbreslin@gmail.com">coding.kathrynbreslin@gmail.com</a>
        --}}
    </div>
</div>