<div class="container-fluid" id="home-nav">
    <div class="row">
        <div class="col-12" id="kathrynNav">
            <p>kathryn breslin</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12" id="links">
            <button class="btn btn-outline-dark btn-lg" id="portfolio-button">Work</button>
            <button class="btn btn-outline-dark btn-lg" id="contact-button">Contact</button>
        </div>
    </div>
</div>

<div class="container">
    <div id="top">
        <div class="row">
            <div class="col-12">
                <div id="aboutMe">
                    <h1> About Me</h1>
                    <p id="aboutMeLine">I am a Full-Stack Web Developer interested in creating
                        real-time applications
                        that are both
                        beautiful and pragmatic.</p>
                </div>
                <div id="image">
                    <a href="https://github.com/kathryn-breslin"><img src="assets/images/kathrynProfessional.jpeg"></a>
                </div>
                <div id="aboutMePara">
                    <p> I'm a Full-Stack developer who loves to design, develop and implement great solutions through
                        code.
                        While working in Business Development for an advertising agency, I was exposed to
                        executive-level strategic thinking, changing industry demands and a diverse range of client
                        relationships. This experience forms my understanding of what clients look for in a
                        design and development partner and I weave this level of thinking into all of my work.</p>
                    <p>I fell in love with web development due to its analytical and artistic nature. Web
                        development is a powerful and transformative tool that
                        continues to evolve and change the world. I want to contribute to the greater good of our world
                        and
                        can do this through the power
                        of code! I graduated from Southern Methodist University's Coding Bootcamp in
                        November 2018 and am currently working as a Teaching Assistant at The
                        University of Pennsylvania's Full-Stack Coding Bootcamp.</p>
                    <p>Self-education and research has been an incredible suppliment to my time at SMU's Coding
                        Bootcamp. I have gained a breadth of technical skills, working with various libraries and
                        modules,
                        including
                        React, JQuery, Node.js, Express, MySQL and MongoDB.
                    </p>
                    <p>I feel passionately about the work I create and I love evolving with changing
                        technologies.
                        Communication and collaboration are key components to my work ethic and I look forward to
                        working in
                        a team setting to create applications that delight and inspire clients.</p>
                </div>
            </div>
        </div>
        {{!-- <div class="row">
            <div class="col-12" id="aboutMePara">

            </div>
        </div> --}}


        <div class="row">
            <div class="col-12" id="bottomButtons">
                <a href="/portfolio"><button type="button" class="btn btn-outline-dark btn-lg" id="portfolio-button">Portfolio</button></a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="bottom">
        <div class="row">
            <div class="col-12" id="indexContactFooter">
                <button id="link">
                    <a target="_blank" rel="noopener noreferrer" href="https://github.com/kathryn-breslin">GitHub</a>
                </button>
                <button id="link">
                    <a target="_blank" rel="noopener noreferrer"
                        href="https://www.linkedin.com/in/kathryn-breslin-a2358993/">LinkedIn</a>
                </button>
                <button id="link">
                    <a href="mailto:coding.kathrynbreslin@gmail.com">Email</a>
                </button>
                <button id="link">
                    <a target="_blank"
                        href="assets/images/Kathryn Breslin_Full Stack Developer_Resume copy.pdf">Resume</a>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="footerDiv">
        <div class="row">
            <div class="col-8" id="aboutMe">
                <h1> Contact Me</h1>
                <p>I would love to hear from you!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12" id="aboutMeButtons">
                <button type="button" class="btn btn-outline-dark btn-lg"><a
                        href="mailto:coding.kathrynbreslin@gmail.com">Email</a></button>
                <button type="button" class="btn btn-outline-dark btn-lg"><a target="_blank" rel="noopener noreferrer"
                        href="https://www.linkedin.com/in/kathryn-breslin-a2358993/">LinkedIn</a></button>
            </div>
        </div>
    </div>
</div>
</div>