<div id="home-background">
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center" id="home-nav">
            <div class="row">
                <div class="col-4">
                    <button class="btn btn-light" id="index-button">Home</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-light" id="portfolio-button">Work</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-light" id="contact-button">Contact</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" id="hello">Kathryn Breslin</div>
        </div>
    </div>
</div>

<div class="container-fluid" id="about">
    {{!-- <div class="row">
        <div class="col">
            <h1 id="name">Kathryn Breslin</h1>
        </div>
    </div> --}}

    <div class="container-fluid">
        <div class="row" id="kathryn">
            <div class="col-12">
                <a href="https://github.com/kathryn-breslin"> <img src="assets/images/kathryn breslin.jpeg"
                        class="rounded-circle mx-auto d-block" alt="Kathryn Breslin" title="Kathryn Breslin"></a>
            </div>
        </div>
        <div class="row" id="spacer"></div>
        <div class="row">
            <div class="col-12" id="quote">
                <p>I am a Full-Stack Web Developer interested in creating
                    real-time applications
                    that are both
                    beautiful and pragmatic.</p>
            </div>
        </div>
        <div class="row" id="spacer"></div>
        <div class="row" id="paragraph">
            <div class="col-12">
                <p class="content">Hi there! I'm Kathryn.
                    I'm a Full-Stack developer who loves to design, develop and implement great solutions through code.
                    While working in Business Development for an advertising agency, I was exposed to
                    executive-level strategic thinking, changing industry demands and a diverse range of client
                    relationships. This experience forms my understanding of what clients look for in a
                    design and development partner and I weave this level of thinking into all of my work. </p>
                <br>
                <p class="content">I fell in love with web development due to its analytical and artistic nature. Web development is a
                    powerful and transformative tool that
                    continues to evolve and change the world. I want to contribute to the greater good of our world and
                    can do this through the power
                    of code! I graduated from Southern Methodist University's Coding Bootcamp in
                    November 2018 and am currently working as a Teaching Assistant at The 
                    University of Pennsylvania's Full-Stack Coding Bootcamp.</p>
                <br>
                <p class="content">Self-education and research has been an incredible suppliment to my time at SMU's Coding Bootcamp.
                    I have gained a breadth of technical skills, working with various libraries and modules, including
                    React, JQuery, Node.js, Express, MySQL and MongoDB.
                </p>
                <br>
                <p class="content">I feel passionately about the work I create and I love evolving with changing technologies.
                    Communication and collaboration are key components to my work ethic and I look forward to working in
                    a
                    team setting to create applications that delight and inspire clients.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="indexContact">
    <div class="row">
        <div class="col-12" id="footer">
            <p>Find more of my work</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12" id="footer">
            <button id="link">
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/kathryn-breslin">GitHub</a>
            </button>
            <button id="link">
                <a target="_blank" rel="noopener noreferrer"
                    href="https://www.linkedin.com/in/kathryn-breslin-a2358993/">LinkedIn</a>
            </button>
            <button id="link">
                <a href="mailto:coding.kathrynbreslin@gmail.com">Email</a>
            </button>
            <button id="link">
                <a target="_blank"
                    href="https://drive.google.com/file/d/1xBJR97tOc5Ks9Bbk43_gIGAiAnhLK43w/view?usp=sharing">Resume</a>
            </button>
        </div>
    </div>
</div>

<div class="container-fluid" id="contactBackground">
    <div class="row">
        <div class="col" id="contact">Say Hello</div>
    </div>
</div>
<div class="container-fluid" id="indexContactFooter">
    <div class="row">
        <div class="col-12" id="footerIndex">
            <button id="link">
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/kathryn-breslin">GitHub</a>
            </button>
            <button id="link">
                <a target="_blank" rel="noopener noreferrer"
                    href="https://www.linkedin.com/in/kathryn-breslin-a2358993/">LinkedIn</a>
            </button>
            <button id="link">
                <a href="mailto:coding.kathrynbreslin@gmail.com">Email</a>
            </button>
            <button id="link">
                <a target="_blank"
                    href="https://drive.google.com/file/d/1xBJR97tOc5Ks9Bbk43_gIGAiAnhLK43w/view?usp=sharing">Resume</a>
            </button>
        </div>
    </div>
</div>