<div class="container-fluid" id="home-nav">
    <div class="row">
        <div class="col-12" id="kathrynNav">
            <p>work</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12" id="links">
            <button class="btn btn-outline-dark btn-lg" id="index-button">Home</button>
            <button class="btn btn-outline-dark btn-lg" id="contact-button">Contact</button>
        </div>
    </div>
</div>

<div class="container">
    <div id="top">
        <div class="row">
            <div class="col-12">
                <div id="aboutMe">
                    <h1> My Work</h1>
                    <p id="aboutMeLine">A collection of Full-Stack, Front-End and Back-End Applications.</p>
                </div>
            </div>
        </div>
        <div class="row" id="portfolio">

            <div id="workDiv">
                <div class="card text-black">
                    <img id="imgPlant" class="img-responsive" src="assets/images/plant.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h1 class="card-head">Plant Picker</h1>
                        <button class="card-title" id="plantLink">Github</button>
                        <button class="card-title" id="plantHeroku">App</button>
                        <p class="card-text">Full-Stack React App</p>
                        <p class="card-text">This app tracks the user's clicks, manages the component state and responds
                            to
                            user events.</p>
                    </div>
                </div>
            </div>

            <div id="workDiv">
                <div class="card text-black">
                    <img id="imgRoadster" class="img-responsive" src="assets/images/roadster.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h1 class="card-head">Roadster</h1>
                        <button class="card-title" id="roadsterLink">Github</button>
                        <button class="card-title" id="roadsterVideo">Demo</button>
                        <p class="card-text">Node and Express Servers, MySQL Database</p>
                        <p class="card-text">This app helps adventurers team up and explore the open road - together!
                        </p>
                    </div>
                </div>
            </div>

            <div id="workDiv">
                <div class="card text-black">
                    <img id="imgFriend" class="img-responsive" src="assets/images/friendFinder.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h1 class="card-head">FriendFinder</h1>
                        <button class="card-title" id="friendLink">Github</button>
                        <button class="card-title" id="friendHeroku">App</button>
                        <p class="card-text">Node and Express Servers</p>
                        <p class="card-text">This is a full-stack site that takes the results from the user's survey and
                            finds the best match!</p>
                    </div>
                </div>
            </div>

            <div id="workDiv">
                <div class="card text-black">
                    <img id="imgGif" class="img-responsive" src="assets/images/gifTastic.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h1 class="card-head">GifTastic</h1>
                        <button class="card-title" id="gifLink">Github</button>
                        <button class="card-title" id="gifPage">App</button>
                        <p class="card-text">GIPHY API, JavaScript, AJAX, jQuery</p>
                        <p class="card-text">Find your favorite Gifs with with GIPHY application.</p>
                    </div>
                </div>
            </div>

            <div id="workDiv">
                <div class="card text-black">
                    <img id="imgBamazon" class="img-responsive" src="assets/images/bamazonImage.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h1 class="card-head">Bamazon!</h1>
                        <button class="card-title" id="bamazonLink">Github</button>
                        <button class="card-title" id="bamazonVideo">Demo</button>
                        <p class="card-text">Node.js, MySQL, Inquirer NPM packages</p>
                        <p class="card-text">An Amazon-like application to order and purchase products.</p>
                    </div>
                </div>
            </div>

            <div id="workDiv">
                <div class="card text-black">
                    <img id="imgBurger" class="img-responsive" src="assets/images/burger.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h1 class="card-head">MySQL Burger</h1>
                        <button class="card-title" id="burgerLink">Github</button>
                        <button class="card-title" id="burgerHeroku">App</button>
                        <p class="card-text">Node and Express Servers, MySQL Database, Handlebars</p>
                        <p class="card-text">Users can add and update burgers to the database.</p>
                    </div>
                </div>
            </div>

            {{!-- <div id="workDiv">
                <div class="card text-black">
                    <img id="imgWebScrape" class="img-responsive" src="assets/images/wsjImage.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h1 class="card-head">WebScrape</h1>
                        <button class="card-title" id="scrapeLink">Github</button>
                        <button class="card-title" id="scrapeHeroku">App</button>
                        <p class="card-text">Express, Express-Handlebars, Mongoose, Cheerio and Axios</p>
                        <p class="card-text">Read the latest news articles from The Wall Street Journal!</p>
                    </div>
                </div>
            </div> --}}

            <div id="workDiv">
                <div class="card text-black">
                    <img id="imgLiri" class="img-responsive" src="assets/images/liri.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h1 class="card-head">LIRI Bot</h1>
                        <button class="card-title" id="liriLink">Github</button>
                        <button class="card-title" id="liriVideo">Demo</button>
                        <p class="card-text">Node.js, Twitter, Spotify, OMDB APIs</p>
                        <p class="card-text">A Siri-like application to discover your favorites music, movies and
                            tweets.</p>
                    </div>
                </div>
            </div>

            <div id="workDiv">
                <div class="card text-black">
                    <img id="imgTrain" class="img-responsive" src="assets/images/trainSchedule.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h1 class="card-head">Train Scheduler</h1>
                        <button class="card-title" id="trainLink">Github</button>
                        <button class="card-title" id="trainDeployed">App</button>
                        {{!-- <button class="card-title" id="crystalHeroku">Demo</button> --}}
                        <p class="card-text">Firebase, Moment.js, jQuery</p>
                        <p class="card-text">A train schedule app built with Firebase.</p>
                    </div>
                </div>
            </div>

            <div id="workDiv">
                <div class="card text-black">
                    <img id="imgTour" class="img-responsive" src="assets/images/tour.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h1 class="card-head">Tour de France Trivia</h1>
                        <button class="card-title" id="tourLink">Github</button>
                        <button class="card-title" id="tourPage">App</button>
                        <p class="card-text">Dynamic jQuery, HTML, CSS</p>
                        <p class="card-text">Test your Tour de France knowledge against the clock!</p>
                    </div>
                </div>
            </div>
            
            <div id="workDiv">
                <div class="card text-black">
                    <img id="imgCrystal" class="img-responsive" src="assets/images/game_screenshot.png"
                        alt="Card image">
                    <div class="card-img-overlay">
                        <h1 class="card-head">Crystal Collector</h1>
                        <button class="card-title" id="crystalLink">Github</button>
                        <button class="card-title" id="crystalDemo">Demo</button>
                        <p class="card-text">jQuery</p>
                        <p class="card-text">A dynamically generated game with jQuery.</p>
                    </div>
                </div>
            </div>

            <div id="workDiv">
                <div class="card text-black">
                    <img id="imgPsychic" class="img-responsive" src="assets/images/wordGuess.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h1 class="card-head">Word Guess Game</h1>
                        <button class="card-title" id="wordGuessLink">Github</button>
                        <button class="card-title" id="wordGuessPage">App</button>
                        <p class="card-text">jQuery</p>
                        <p class="card-text">A dynamically generated game with jQuery.</p>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-12" id="bottomButtons">
                <button type="button" class="btn btn-outline-dark btn-lg" id="portfolio-button">Portfolio</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="bottom">
        <div class="row">
            <div class="col-12" id="indexContactFooter">
                <button id="link">
                    <a target="_blank" rel="noopener noreferrer" href="https://github.com/kathryn-breslin">GitHub</a>
                </button>
                <button id="link">
                    <a target="_blank" rel="noopener noreferrer"
                        href="https://www.linkedin.com/in/kathryn-breslin-a2358993/">LinkedIn</a>
                </button>
                <button id="link">
                    <a href="mailto:coding.kathrynbreslin@gmail.com">Email</a>
                </button>
                <button id="link">
                    <a target="_blank"
                        href="assets/images/Kathryn Breslin_Full Stack Developer_Resume copy.pdf">Resume</a>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="footerDiv">
        <div class="row">
            <div class="col-8" id="aboutMe">
                <h1> Contact Me</h1>
                <p>I would love to hear from you!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12" id="aboutMeButtons">
                <button type="button" class="btn btn-outline-dark btn-lg"><a
                        href="mailto:coding.kathrynbreslin@gmail.com">Email</a></button>
                <button type="button" class="btn btn-outline-dark btn-lg"><a target="_blank" rel="noopener noreferrer"
                        href="https://www.linkedin.com/in/kathryn-breslin-a2358993/">LinkedIn</a></button>
            </div>
        </div>
    </div>
</div>
</div>