<div id="portfolio-background">
    <div class="jumbotron jumbotron-fluid" id="workBackground">
        <div class="container-fluid text-center" id="port-nav">
            <div class="row">
                <div class="col-4">
                    <button class="btn btn-light" id="index-button">Home</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-light" id="portfolio-button">Work</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-light" id="contact-button">Contact</button>
                </div>
            </div>
        </div>
        <div class="container">
            <h1 id="work">Work</h1>
        </div>
    </div>
</div>

<div id="port-jumbo">
    <div class="row" id="portfolio">

        <div id="workDiv">
            <div class="card text-black">
                <img id="imgPlant" class="img-responsive" src="assets/images/plant.png" alt="Card image">
                <div class="card-img-overlay">
                    <h1 class="card-head">Plant Picker</h1>
                    <button class="card-title" id="plantLink">Github</button>
                    <button class="card-title" id="plantHeroku">App</button>
                    <p class="card-text">Full-Stack React App</p>
                    <p class="card-text">This app tracks the user's clicks, manages the component state and responds to
                        user events.</p>
                </div>
            </div>
        </div>

        <div id="workDiv">
            <div class="card text-black">
                <img id="imgRoadster" class="img-responsive" src="assets/images/roadster.png" alt="Card image">
                <div class="card-img-overlay">
                    <h1 class="card-head">Roadster</h1>
                    <button class="card-title" id="roadsterLink">Github</button>
                    {{!-- <button class="card-title" id="roadsterHeroku">App</button> --}}
                    <p class="card-text">Node and Express Servers, MySQL Database</p>
                    <p class="card-text">This app helps adventurers team up and explore the open road - together!</p>
                </div>
            </div>
        </div>

        <div id="workDiv">
            <div class="card text-black">
                <img id="imgFriend" class="img-responsive" src="assets/images/friendFinder.png" alt="Card image">
                <div class="card-img-overlay">
                    <h1 class="card-head">FriendFinder</h1>
                    <button class="card-title" id="friendLink">Github</button>
                    <button class="card-title" id="friendHeroku">App</button>
                    <p class="card-text">Node and Express Servers</p>
                    <p class="card-text">This is a full-stack site that takes the results from the user's survey and
                        finds the best match!</p>
                </div>
            </div>
        </div>

        <div id="workDiv">
            <div class="card text-black">
                <img id="imgBurger" class="img-responsive" src="assets/images/burger.png" alt="Card image">
                <div class="card-img-overlay">
                    <h1 class="card-head">MySQL Burger</h1>
                    <button class="card-title" id="burgerLink">Github</button>
                    <button class="card-title" id="burgerHeroku">App</button>
                    <p class="card-text">Node and Express Servers, MySQL Database, Handlebars</p>
                    <p class="card-text">Users can add and update burgers to the database.</p>
                </div>
            </div>
        </div>

        <div id="workDiv">
            <div class="card text-black">
                <img id="imgWebScrape" class="img-responsive" src="assets/images/wsjImage.png" alt="Card image">
                <div class="card-img-overlay">
                    <h1 class="card-head">WebScrape</h1>
                    <button class="card-title" id="scrapeLink">Github</button>
                    <button class="card-title" id="scrapeHeroku">App</button>
                    <p class="card-text">Express, Express-Handlebars, Mongoose, Cheerio and Axios</p>
                    <p class="card-text">Read the latest news articles from The Wall Street Journal!</p>
                </div>
            </div>
        </div>

        <div id="workDiv">
            <div class="card text-black">
                <img id="imgBamazon" class="img-responsive" src="assets/images/bamazonImage.png" alt="Card image">
                <div class="card-img-overlay">
                    <h1 class="card-head">Bamazon!</h1>
                    <button class="card-title" id="bamazonLink">Github</button>
                    <button class="card-title" id="bamazonVideo">Demo</button>
                    <p class="card-text">Node.js, MySQL, Inquirer NPM packages</p>
                    <p class="card-text">An Amazon-like application to order and purchase products.</p>
                </div>
            </div>
        </div>
    </div>

</div>