@media  only screen and (max-width: 375px) {
    #kathrynOne {
        font-size: 300px;
    }
    
}

/* iPhone 6, 7, 8 ----------- */
/*@media only screen and (min-width: 480px) and (max-width: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
        /* Styles 
        #home-nav {
            background-color: white;
            padding: 15px;
            overflow: hidden;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 100;
        }

        #hello {
            font-family: 'Arimo', sans-serif;
            text-align: center;
            font-size: 50px;
            margin-top: 100px;
        }

        #kathryn {
            float: left;
            clear: right;
        }
    
        #paragraph {
            float: left;
        }

        #workDiv {
            float: left;
            clear: right;
        }

        #port-nav {
            background-color: white;
            padding: 15px;
            overflow: hidden;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 100;
        }

        #contact-nav {
            background-color: white;
            padding: 15px;
            overflow: hidden;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 100;
        }
    }  