@media only screen and (max-width : 576px) {
    #hello, #work {
        font-size: 75px;
        padding: 70px;
    }

    #contact {
        font-size: 75px;
        padding: 90px;
    }

    #quote p {
        font-size: 30px;
    }

    #paragraph p {
        font-size: 20px;
    }
}