
#home-background {
    background-image: url(../images/DSC_0020.jpg);
    background-size: cover;
    height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.jumbotron {
    background-color: white;
    height: 600px;
}

body, html {
    height: 100%;
    margin: 0;
}

#kathrynNav p {
    /* font-family: "Inconsolata", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5; */
    font-family: 'Raleway', sans-serif;

}

/* #home-nav {
    background-color: white;
    padding: 15px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100
} */

#kathrynNav p{
    font-size: 70px;
    color: #000000;
    font-family: "Inconsolata", sans-serif;
    font-weight: 400;
    line-height: 1.5;

}
#home-nav {
    text-align: center;
}
/* #hello {
    font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 100px;
    margin-top: 120px;
} */

#top {
    background-color: #F4F2EC;
    height: 100%;
    margin: 30px;
}

#image {
    float: right;
    margin: 50px;
}

#monstera img {
    height:auto;
    max-width:100%;

}

#links {
    border-top: solid black 1px;
}

#links button {
    font-family: "Inconsolata", sans-serif;
    margin-top: 20px;
}

/* #image {
    margin: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
} */

#aboutMe {
    /* float: right; */
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
    /* border-bottom: solid black 1px; */
    float: left;
}

#aboutMeLine {
    color: #000000;
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Raleway', sans-serif;

    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}

#aboutMe p{
    color: #000000;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}

#aboutMePara p{
    margin-left: 100px;
    margin-right: 100px;
    color: #000000;
    font-family: "Inconsolata", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
} 

#aboutMeLine {
    border-bottom: solid black 1px;

}

#bottomButtons {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

#bottomButtons button {
    font-family: "Inconsolata", sans-serif;
}

#bottom {
    background-color: white;
    text-align: center;
}

#indexContactFooter {
    background-color: white;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(12, 4, 4, 0.19); */
    padding: 30px;
    margin-top: 100px;
    margin-bottom: 100px;

}

#indexContactFooter a {
    display: block;
    width:150px;
    height:150px;
    line-height:135px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #585B68;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-family: "Inconsolata", sans-serif;
    font-weight:bold;
    float: left;
    margin-top: 20px;
    margin: 20px;
}


#indexContactFooter a:hover {
    background: #262626;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

#indexContactFooter button {
    background-color: white;
    border: none;
}

#footerDiv {
    background-color: #EDE4DF;
    height: 100%;
    margin: 30px;
}

#email {
    color: white;
    margin-left: 100px;
    margin-bottom: 100px;
}

#aboutMeButtons {
    text-align: center;
    margin-bottom: 100px;
    text-decoration: none;
}

#aboutMeButtons button a:link {
    color: white;
    text-decoration: none;
    font-family: "Inconsolata", sans-serif;
}

#aboutMeButtons button a:visited {
    color: white;
    text-decoration: none;
}
/* CONTACT PAGE */
#contact{
    font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 100px;
    margin-top: 300px;
    color: white;
}

#contact-jumbo{
    height: 100%;
    background-color: #f2f1f2;
    padding: 20px; 
}

#contactForm {
    background-color: white;
    height: auto;
    margin: auto;
    padding: 50px;
}

#contactBackground {
    background-image: url(../images/sunset.jpg);
    background-position: center;
    height:900px;
    background-repeat: no-repeat;
    background-size: cover;  
}

label, button {
    font-family: 'Arimo', sans-serif;
}

#contact-nav {
    background-color: white;
    padding: 15px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#contactBottom {
    background-color:#f2f1f2;
    margin: 40px;
}

#contactName{
    background-color:#9E827F;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    color: white;
    padding: 20px;
}

/* #email {
    background-color: white;
    margin: 40px;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

#email h2 {
    text-align: center;
    margin: 20px;
}

#workContact {
    background-color: #585B68;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    padding: 40px;
    text-align: center;
}

#submit button {
    color: #494949 !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949 !important;
    border-radius: 6px;
    display: inline-block;
}

#submit button:hover {
    color: #ffffff !important;
    background: #8294A3;
    border-color: #8294A3 !important;
    transition: all 0.4s ease 0s;
}  

/* form {
    color: #494949 !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 20px;
    border: 2px solid #494949 !important;
    border-radius: 6px;
    /* display: inline-block; */
    /* margin-bottom: 40px;
    padding: 60px;
} */ 

/* WORK PAGE */
#portfolio-background{
    background-size: cover;
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#workBackground {
    background-image: url(../images/white_sands.jpg);
    background-position: center;
    height:1000px;
    background-repeat: no-repeat;
    background-size: cover;
}

#port-jumbo {
    height: 100%;
    background-color: #f2f1f2;
    padding: 20px;
    margin: auto;
}

#work {
    font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 100px;
    margin-top: 250px;
    color: white;
}

#workDiv {
    /* margin-right: 20px;*/
    background-color: white;
    /* width: 400px; */
    padding: 20px;
    /* margin: 20px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#portfolio {
    padding: 20px;
    margin: auto;
}

#port-nav {
    background-color: white;
    padding: 15px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#imgRoadster, #imgBurger, #imgFriend, #imgPlant, #imgWebScrape, #imgBamazon, #imgCrystal, #imgPsychic, #imgTrain, #imgGif, #imgLiri, #imgTour {
    opacity: 0.5;
}
.card-title {
    font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 15px;;
}

.card-head {
    font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    background-color: white;
    border: 4px solid #494949 !important;
    border-radius: 6px;
}

.card-text {
    font-family: 'Arimo', sans-serif;
}

 #workDiv button {
    color: #494949 !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 10px;
    border: 4px solid #494949 !important;
    border-radius: 6px;
    display: inline-block;
}

#workDiv button:hover {
    color: #ffffff !important;
    background: #8294A3;
    border-color: #8294A3 !important;
    transition: all 0.4s ease 0s;
}

        
    