/* iPads (portrait and landscape) ----------- */
/* @media only screen and (min-width : 768px) and (max-width : 1024px) {
    /* Styles 
    #home-nav {
        background-color: white;
        padding: 15px;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }
    
    #hello {
        font-family: 'Arimo', sans-serif;
        text-align: center;
        font-size: 200px;
        margin-top: 100px;
    }

    #kathryn {
        float: left;
        clear: right;
    }

    #paragraph {
        float: left;
    }

} */